Repository alloy-lab/overland: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Lefthook configuration for Overland Stack
# Runs typecheck, linting, and formatting checks before commits

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts,tsx,js,jsx}'
      run: pnpm lint
      fail_text: '❌ ESLint errors found. Fix before committing.'
    prettier:
      glob: '*.{ts,tsx,js,jsx,json,md,yml,yaml}'
      run: pnpm format:check
      fail_text: '❌ Code formatting issues found. Run "pnpm format" to fix them.'
    typecheck:
      run: pnpm typecheck
      fail_text: '❌ TypeScript errors found.'

pre-push:
  parallel: true
  commands:
    typecheck-all:
      run: pnpm typecheck
      fail_text: '❌ TypeScript errors. Push aborted.'
    test:
      run: pnpm test:unit
      fail_text: '❌ Unit tests failed. Fix and try again.'
    generate-types:
      run: pnpm generate:types
      fail_text: '❌ Type generation failed. Please fix type generation issues.'

# Skip hooks for certain file patterns
skip_output:
  - 'node_modules/**'
  - 'dist/**'
  - 'build/**'
  - '.next/**'
  - 'coverage/**'
  - 'test-results/**'
  - 'playwright-report/**'
  - '*.log'
  - '*.lock'
  - '*.md'
  - '*.yml'
  - '*.yaml'

# Colors for better output
colors:
  - red
  - green
  - yellow
  - blue
  - magenta
  - cyan
  - white

chore(ci): add database wait and type generation steps to CI workflow
  .github/workflows/ci.yml
Due: prettier

docs(readme): enhance package descriptions and add troubleshooting section
  README.md
Due: prettier

fix(docs): update image paths in README for correct rendering
  README.md
Due: prettier

chore(docker): remove unused profiles and update Dockerfile for pnpm usage
  apps/cms/Dockerfile
  apps/cms/public/.gitkeep
  apps/web/Dockerfile
  docker-compose.yml
Due: prettier

fix(docker): reorder arguments in CMD for cms and web Dockerfiles
  apps/cms/Dockerfile
  apps/web/Dockerfile
Due: none

fix(docker): update healthcheck command and increase retries in docker-compose
  apps/cms/Dockerfile
  docker-compose.yml
Due: prettier

feat(docker): add DATABASE_URI environment variable to docker-compose
  docker-compose.yml
Due: prettier

feat(docker): create startup script for migrations and application start
  apps/cms/Dockerfile
Due: none

refactor(docker): simplify CMD in Dockerfile by removing startup script
  apps/cms/Dockerfile
Due: none

feat(docker): add tsconfig and src directory to CMS Dockerfile
  apps/cms/Dockerfile
Due: none

feat(cms): add migration for pages and examples collections
  apps/cms/src/migrations/20251001_000101.json
  apps/cms/src/migrations/20251001_000101.ts
  apps/cms/src/migrations/index.ts
Due: eslint, prettier

fix(docker): update healthcheck command to use nc for service check
  docker-compose.yml
Due: prettier

feat(server): load environment variables from .env file in development
  apps/web/server.js
Due: eslint, prettier

fix(public): update favicon.ico with new design
  apps/web/public/favicon.ico
Due: none

feat(security): add no-op middleware for CSP in development environment
  apps/web/app/lib/security.ts
  apps/web/server/app.ts
Due: eslint, prettier

feat(docs): add database sync utility and configuration instructions
  README.md
  env.coolify.example
  package.json
  scripts/sync-database.js
Due: eslint, prettier
