Repository alloy-lab/overland: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format-check

typecheck:
  run: pnpm typecheck
  fail_text: ❌ TypeScript errors found. Please fix them before committing.

lint:
  run: pnpm lint
  fail_text: ❌ ESLint errors found. Please fix them before committing.

format-check:
  run: pnpm format:check
  fail_text: ❌ Code formatting issues found. Run 'pnpm format' to fix them.

fix: update lefthook configuration to use proper pnpm scripts
  lefthook.yml
Due: none

refactor: reorganize imports and update type exports in Payload CMS clients and types for improved consistency and readability
  .gitignore
  .prettierignore
  apps/cms/.gitignore
  apps/web/.gitignore
  apps/web/app/lib/clients/base.ts
  apps/web/app/lib/clients/index.ts
  apps/web/app/lib/clients/media.ts
  apps/web/app/lib/clients/pages.ts
  apps/web/app/lib/clients/site-settings.ts
  apps/web/app/lib/clients/users.ts
  apps/web/app/lib/payloadClient.ts
  apps/web/app/lib/types.ts
  apps/web/app/lib/types/base.ts
  apps/web/app/lib/types/media.ts
  apps/web/app/lib/types/pages.ts
  apps/web/app/lib/types/site-settings.ts
  apps/web/app/lib/types/users.ts
  apps/web/tests/__mocks__/payloadClient.ts
  scripts/collection-registry.js
Due: typecheck, lint, format-check

feat: integrate Playwright and Vitest for end-to-end and unit testing, add test configurations, and implement initial test cases for homepage and pages
  apps/web/app/lib/clients/pages.ts
  apps/web/app/lib/types.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/tests/e2e/homepage.spec.ts
  apps/web/tests/e2e/pages.spec.ts
  apps/web/tests/unit/lib/clients/pages.test.ts
  apps/web/tests/unit/lib/seo.test.ts
  apps/web/tests/utils/test-helpers.ts
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint, format-check

fix: update error messages and improve type exports in page routes and collection registry for consistency
  apps/web/app/routes/pages.$slug.tsx
  scripts/collection-registry.js
Due: typecheck, lint, format-check

docs: update README to clarify project philosophy and stack choices, emphasizing simplicity and optional features
  README.md
Due: none

refactor: streamline import statements and enhance type exports in media and users clients, update collection registry to include new types and format generated files with Prettier
  apps/web/app/lib/clients/media.ts
  apps/web/app/lib/clients/users.ts
  scripts/collection-registry.js
Due: typecheck, lint, format-check

chore: update pnpm-lock.yaml to reflect version changes for @vitest/ui and dotenv, enhance vitest setup with environment variables for testing, and modify frontend tests for improved assertions
  apps/cms/package.json
  apps/cms/tests/e2e/frontend.e2e.spec.ts
  apps/cms/vitest.setup.ts
  pnpm-lock.yaml
Due: typecheck, lint, format-check

fix: change stdio option from 'inherit' to 'pipe' in file formatting command for improved output handling
  scripts/collection-registry.js
Due: lint, format-check

docs: update README to reflect changes in project structure, enhance automated collection registry features, and clarify usage instructions for TypeScript type and API client generation
  README.md
Due: none

feat: integrate Winston for logging, implement custom error handling, and enhance error boundaries in the web application
  apps/web/.gitignore
  apps/web/app/lib/ErrorBoundary.tsx
  apps/web/app/lib/errorHandler.ts
  apps/web/app/lib/logger.ts
  apps/web/app/root.tsx
  apps/web/app/routes/404.tsx
  apps/web/app/routes/500.tsx
  apps/web/package.json
  apps/web/server.js
  apps/web/tests/unit/lib/errorHandler.test.ts
  apps/web/tests/unit/lib/logger.test.ts
  apps/web/tsconfig.node.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint, format-check

feat: enhance security features in the web application by adding CORS, CSRF protection, rate limiting, and input validation middleware; update environment variable configurations and logging settings
  SECURITY.md
  apps/web/app/lib/apiSecurity.ts
  apps/web/app/lib/envValidation.ts
  apps/web/app/lib/security.ts
  apps/web/app/routes/api.pages.$id.ts
  apps/web/app/routes/api.pages.ts
  apps/web/package.json
  apps/web/server.js
  apps/web/tests/unit/lib/apiSecurity.test.ts
  apps/web/tests/unit/lib/security.test.ts
  apps/web/tsconfig.node.json
  docker-compose.dev.yml
  docker-compose.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint, format-check

refactor: update vitest configuration to use path resolution for aliases, enhance security request sanitization, and improve unit tests for API and security middleware functions
  apps/web/app/lib/security.ts
  apps/web/tests/unit/lib/apiSecurity.test.ts
  apps/web/tests/unit/lib/security.test.ts
  apps/web/vitest.config.ts
Due: typecheck, lint, format-check

chore: update dependencies in pnpm-workspace.yaml to latest versions, including next, eslint-config-next, playwright, sharp, and vitest
  pnpm-workspace.yaml
Due: none

chore: update pnpm-lock.yaml to bump versions of next, eslint-config-next, playwright, sharp, and vitest to their latest releases
  pnpm-lock.yaml
Due: none

chore: update pnpm-lock.yaml and pnpm-workspace.yaml to bump versions of @payloadcms packages to 3.56.0, add @sailshq/csurf, and adjust dependencies for improved security and functionality
  apps/web/app/lib/security.ts
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint, format-check

chore: update lefthook configuration to run unit tests and add unit test scripts for CMS and web applications
  apps/cms/package.json
  apps/web/package.json
  lefthook.yml
  package.json
Due: format-check

docs: update README to improve project description and enhance visual branding with new logo assets for light and dark modes
  README.md
  apps/web/public/overland_banner.png
Due: none

feat: implement image optimization and performance monitoring features in the web application, including lazy loading of images, performance metrics tracking, and middleware for image processing
  apps/web/app/components/LazyImage.tsx
  apps/web/app/components/PerformanceMonitor.tsx
  apps/web/app/lib/imageOptimization.ts
  apps/web/app/lib/performance.ts
  apps/web/app/lib/reactPerformance.ts
  apps/web/app/root.tsx
  apps/web/app/routes/api.performance.budget-violations.ts
  apps/web/app/routes/api.performance.metrics.ts
  apps/web/package.json
  apps/web/server.js
  apps/web/tsconfig.node.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint, format-check

feat: add development CLI and auto-configuration scripts to streamline setup and environment management; enhance package.json with new commands for collection generation and environment setup
  package.json
  scripts/auto-config.js
  scripts/collection-registry.js
  scripts/dev-cli.js
  scripts/generate-collection.js
  scripts/generate-env.js
  scripts/generate-web-types.js
  scripts/setup.sh
Due: lint, format-check

feat: enhance environment configuration with optional security settings and logging parameters; update envValidation to reflect new optional fields
  SECURITY.md
  apps/web/app/lib/envValidation.ts
  docs/collection-registry.md
  env.example
Due: typecheck, lint, format-check

docs: update README to reflect changes in Payload CMS, enhance testing infrastructure details, and improve security guidelines
  README.md
Due: none

feat: add StructuredData component and utility functions for generating JSON-LD structured data; enhance SEO data generation with structured data integration and update tests for new functionality
  apps/web/app/components/StructuredData.tsx
  apps/web/app/lib/seo.ts
  apps/web/app/lib/structuredData.ts
  apps/web/tests/unit/lib/seo.test.ts
  apps/web/tests/unit/lib/structuredData.test.ts
  packages/ui/src/SEOHead.tsx
Due: typecheck, lint, format-check

feat: add Examples collection and custom fields to enhance CMS functionality; implement content scheduling features and improve media management with new metadata and optimization capabilities
  apps/cms/src/collections/Examples.ts
  apps/cms/src/collections/Media.ts
  apps/cms/src/collections/Pages.ts
  apps/cms/src/fields/ColorPicker.ts
  apps/cms/src/fields/ConditionalFields.ts
  apps/cms/src/fields/ContactInfo.ts
  apps/cms/src/fields/DateRange.ts
  apps/cms/src/fields/MediaGallery.ts
  apps/cms/src/fields/index.ts
  apps/cms/src/payload.config.ts
  apps/web/app/components/StructuredData.tsx
  apps/web/app/lib/clients/examples.ts
  apps/web/app/lib/clients/index.ts
  apps/web/app/lib/clients/pages.ts
  apps/web/app/lib/contentScheduler.ts
  apps/web/app/lib/imageOptimization.ts
  apps/web/app/lib/payloadClient.ts
  apps/web/app/lib/sitemap.ts
  apps/web/app/lib/structuredData.ts
  apps/web/app/lib/types.ts
  apps/web/app/lib/types/examples.ts
  apps/web/app/lib/types/pages.ts
  apps/web/app/routes/api.content.scheduler.ts
  apps/web/app/routes/api.images.optimize.ts
  apps/web/tests/unit/lib/contentScheduler.test.ts
  apps/web/tests/unit/lib/customFields.test.ts
  apps/web/tests/unit/lib/imageOptimization.test.ts
Due: typecheck, lint, format-check

feat: add Stratos image to README for enhanced visual branding and user engagement
  README.md
  apps/web/public/stratos.png
Due: none

refactor: remove Examples client and related types to streamline client exports; update payloadClient and types for improved clarity and maintainability
  apps/web/app/lib/clients/examples.ts
  apps/web/app/lib/clients/index.ts
  apps/web/app/lib/payloadClient.ts
  apps/web/app/lib/types.ts
  apps/web/app/lib/types/examples.ts
Due: typecheck, lint, format-check

docs: update README to include line break for improved layout and visual separation of images
  README.md
Due: none

feat: add dark mode support for Stratos image in README and remove unused overland banner image
  README.md
  _assets/overland_banner.png
  apps/web/public/stratos-dark.png
Due: none

feat: introduce Examples client and types for enhanced CMS functionality; update payloadClient and client exports for improved accessibility
  apps/web/app/lib/clients/examples.ts
  apps/web/app/lib/clients/index.ts
  apps/web/app/lib/payloadClient.ts
  apps/web/app/lib/types.ts
  apps/web/app/lib/types/examples.ts
  scripts/collection-registry.js
Due: typecheck, lint, format-check

refactor: remove Examples client and related types; update payloadClient and type exports for improved clarity and maintainability
  apps/web/app/lib/clients/examples.ts
  apps/web/app/lib/clients/index.ts
  apps/web/app/lib/payloadClient.ts
  apps/web/app/lib/seo.ts
  apps/web/app/lib/types.ts
  apps/web/app/lib/types/examples.ts
  apps/web/app/lib/types/site-settings.ts
  scripts/collection-registry.js
Due: typecheck, lint, format-check

refactor: remove ContentScheduler and related API routes; update site settings structure for improved clarity and maintainability
  apps/web/app/lib/clients/pages.ts
  apps/web/app/lib/contentScheduler.ts
  apps/web/app/lib/seo.ts
  apps/web/app/lib/structuredData.ts
  apps/web/app/lib/types/pages.ts
  apps/web/app/lib/types/site-settings.ts
  apps/web/app/routes/api.content.scheduler.ts
  apps/web/tests/unit/lib/contentScheduler.test.ts
  apps/web/tests/unit/lib/seo.test.ts
  apps/web/tests/unit/lib/structuredData.test.ts
Due: typecheck, lint, format-check

refactor: update Media file handling and validation types across fields for improved type safety and consistency
  apps/cms/src/collections/Media.ts
  apps/cms/src/fields/ColorPicker.ts
  apps/cms/src/fields/ContactInfo.ts
  apps/cms/src/fields/DateRange.ts
  apps/cms/src/fields/MediaGallery.ts
  apps/cms/src/fields/index.ts
Due: typecheck, lint, format-check

chore: add initial project governance files including Code of Conduct, Security Policy, and issue templates for better community engagement and support
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/security.yml
  .github/SECURITY.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: format-check

chore: update CI configuration to use pnpm caching and remove unnecessary steps for improved efficiency
  .github/workflows/ci.yml
Due: format-check

chore: streamline CI configuration by consolidating pnpm setup steps for improved clarity and maintainability
  .github/workflows/ci.yml
Due: format-check

chore: add .npmrc file with pnpm configuration for dependency management and peer dependency handling
  .npmrc
Due: none

chore: update pnpm version in CI configuration from 8 to 10 for improved performance and compatibility
  .github/workflows/ci.yml
Due: format-check

chore: update GitHub Actions to use actions/upload-artifact@v4 for improved functionality
  .github/workflows/ci.yml
Due: format-check

chore: add end-to-end test script and update CI to install Playwright browsers for both CMS and web projects
  .github/workflows/ci.yml
  package.json
Due: format-check

chore: update pnpm version to 10.17.1 and add new dependencies for improved project management
  package.json
Due: none

chore: simplify end-to-end test script by removing experimental options for improved stability
  apps/cms/package.json
Due: format-check

Path conditions:
  typecheck: any of: **/*.{ts,tsx}
  lint: any of: **/*.{ts,tsx,js,jsx}
  format-check: any of: **/*.{ts,tsx,js,jsx,json,md,yml,yaml}
