Repository alloy-lab/overland: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# Lefthook configuration for Overland Stack
# Runs typecheck, linting, and formatting checks before commits

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts,tsx,js,jsx}'
      run: pnpm lint
      fail_text: '❌ ESLint errors found. Fix before committing.'
    prettier:
      glob: '*.{ts,tsx,js,jsx,json,md,yml,yaml}'
      run: pnpm format:check
      fail_text: '❌ Code formatting issues found. Run "pnpm format" to fix them.'
    typecheck:
      run: pnpm typecheck
      fail_text: '❌ TypeScript errors found.'

pre-push:
  parallel: true
  commands:
    typecheck-all:
      run: pnpm typecheck
      fail_text: '❌ TypeScript errors. Push aborted.'
    test:
      run: pnpm test:unit
      fail_text: '❌ Unit tests failed. Fix and try again.'
    generate-types:
      run: pnpm generate:types
      fail_text: '❌ Type generation failed. Please fix type generation issues.'

# Skip hooks for certain file patterns
skip_output:
  - 'node_modules/**'
  - 'dist/**'
  - 'build/**'
  - '.next/**'
  - 'coverage/**'
  - 'test-results/**'
  - 'playwright-report/**'
  - '*.log'
  - '*.lock'
  - '*.md'
  - '*.yml'
  - '*.yaml'

# Colors for better output
colors:
  - red
  - green
  - yellow
  - blue
  - magenta
  - cyan
  - white

chore: update Playwright configuration to change base URL and enhance web server settings for improved testing environment
  apps/cms/playwright.config.ts
Due: eslint, prettier

chore: update Playwright dependency to version 1.55.0 and modify end-to-end test to check for welcome message and admin panel link
  apps/cms/tests/e2e/frontend.e2e.spec.ts
  pnpm-workspace.yaml
Due: eslint, prettier

fix: update Playwright dependencies to resolve version conflict
  pnpm-lock.yaml
Due: prettier

fix: update web app Playwright config to build before starting server
  apps/web/playwright.config.ts
Due: eslint, prettier

fix: resolve web app E2E test issues
  .github/workflows/ci.yml
  apps/web/server.js
Due: eslint, prettier

fix: resolve all Playwright E2E test issues
  apps/web/app/routes.ts
  apps/web/app/welcome/welcome.tsx
  apps/web/playwright.config.ts
  apps/web/server.js
  apps/web/tests/e2e/homepage.spec.ts
  apps/web/tests/e2e/pages.spec.ts
Due: eslint, prettier

fix: resolve Playwright report artifact upload issue
  .github/workflows/ci.yml
  apps/cms/playwright.config.ts
  apps/web/playwright.config.ts
Due: eslint, prettier

fix: simplify Playwright configuration for CMS and web apps
  apps/cms/playwright.config.ts
  apps/web/playwright.config.ts
Due: eslint, prettier

docs: add CI badge to README for improved visibility of build status
  README.md
Due: prettier

chore: update CI workflow to specify paths for triggering builds on push and pull request events
  .github/workflows/ci.yml
Due: prettier

docs: enhance README with additional project description and license badge
  README.md
Due: prettier

chore: upgrade Node.js version across project files
  .github/workflows/ci.yml
  README.md
  apps/cms/Dockerfile
  apps/cms/README.md
  apps/web/Dockerfile
  apps/web/README.md
  package.json
  scripts/setup.sh
Due: prettier

docs: update README to reflect optional features and add community support link
  README.md
Due: prettier

chore: update Docker commands and installation process in documentation and Dockerfiles
  CONTRIBUTING.md
  README.md
  apps/cms/Dockerfile
  apps/web/Dockerfile
  scripts/dev-cli.js
Due: eslint, prettier

Fix browser console error by making logger compatible with both server and client environments
  README.md
  apps/web/app/lib/logger.ts
  apps/web/app/welcome/welcome.tsx
  apps/web/server.js
  apps/web/vite.config.ts
Due: eslint, prettier

Fix TypeScript error in logger browser detection
  apps/web/app/lib/logger.ts
Due: eslint, prettier

refactor: replace @sentry/nextjs with @sentry/react and update performance monitoring
  apps/web/app/components/PerformanceMonitor.tsx
  apps/web/app/lib/envValidation.ts
  apps/web/app/lib/errorHandler.ts
  apps/web/app/lib/performance.ts
  apps/web/app/lib/reactPerformance.ts
  apps/web/app/root.tsx
  apps/web/package.json
  apps/web/public/stratos-icon.png
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier

refactor: simplify DevTools component and enhance performance monitoring
  apps/web/app/components/PerformanceMonitor.tsx
Due: eslint, prettier

chore: add Cursor AI rules and development guidelines
  .cursor/commands.json
  .cursor/completions.json
  .cursor/rules/collection-development.mdc
  .cursor/rules/testing-patterns.mdc
  .cursor/rules/type-generation.mdc
  .cursor/snippets.json
  .cursorrules
Due: prettier

refactor: remove redundant visibility checks in homepage E2E tests
  apps/web/tests/e2e/homepage.spec.ts
Due: eslint, prettier

chore: update environment variable comments for clarity
  env.example
Due: none

chore: update Docker Compose configuration for CMS development
  docker-compose.dev.yml
Due: prettier

feat: add localization support and update Pages collection
  apps/cms/src/app/(payload)/admin/importMap.js
  apps/cms/src/collections/Pages.ts
  apps/cms/src/payload.config.ts
  env.example
Due: eslint, prettier

refactor: reorder collections in payload.config.ts and streamline importMap.js
  .prettierignore
  apps/cms/src/app/(payload)/admin/importMap.js
  apps/cms/src/payload.config.ts
Due: eslint, prettier

chore: update package dependencies and peer dependency rules
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: update Node.js version and related configurations
  .github/ISSUE_TEMPLATE/bug_report.yml
  .npmrc
  apps/cms/Dockerfile
  apps/web/Dockerfile
  package.json
  scripts/setup.sh
Due: prettier

chore: update React and React DOM versions to 19.1.0
  apps/web/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore: rename project from 'overland-stack' to 'overland' and update related documentation
  CONTRIBUTING.md
  README.md
  apps/web/tests/unit/lib/seo.test.ts
  package.json
Due: eslint, prettier

chore: integrate @alloylab/collection-registry for code generation
  apps/web/app/lib/clients/base.ts
  apps/web/app/lib/routes/pages.$slug.tsx
  apps/web/app/lib/routes/pages._index.tsx
  apps/web/app/lib/types/base.ts
  package.json
  pnpm-lock.yaml
  scripts/collection-registry-new.js
Due: eslint, prettier

chore: update @alloylab/collection-registry dependency to version 1.0.0
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update commit message guidelines in .cursorrules
  .cursorrules
Due: none

chore: update @alloylab/collection-registry dependency to version 1.1.2 in package.json and README
  README.md
  package.json
Due: prettier

chore: update @alloylab/seo dependency to version 1.0.1 and refactor SEO utilities
  apps/web/app/lib/seo.ts
  apps/web/app/lib/structuredData.ts
  apps/web/app/lib/types/base.ts
  apps/web/app/lib/types/pages.ts
  apps/web/app/lib/types/site-settings.ts
  apps/web/app/routes/pages.$slug.tsx
  apps/web/package.json
  apps/web/tests/unit/lib/seo.test.ts
  packages/ui/package.json
  packages/ui/src/SEOHead.tsx
  pnpm-lock.yaml
Due: eslint, prettier

fix(types): resolve loaderData type issues in meta functions
  apps/web/app/routes/_index.simple.tsx
  apps/web/app/routes/pages.$slug.simple.tsx
  apps/web/app/routes/pages.$slug.ultra-simple.tsx
Due: eslint, prettier

fix(types): align template types with SEO package requirements
  apps/web/app/lib/types/pages.ts
  apps/web/app/lib/types/site-settings.ts
Due: eslint, prettier

chore(security): integrate @alloylab/security package and update security configurations
  SECURITY.md
  apps/cms/package.json
  apps/cms/src/lib/security.ts
  apps/web/app/lib/apiSecurity.ts
  apps/web/app/lib/envValidation.ts
  apps/web/app/lib/security.ts
  apps/web/package.json
  apps/web/server/app.ts
  apps/web/tests/unit/lib/apiSecurity.test.ts
  apps/web/tests/unit/lib/security.test.ts
  pnpm-lock.yaml
Due: eslint, prettier

chore(tests): add vitest import for improved testing capabilities
  apps/web/vitest.setup.ts
Due: eslint, prettier

fix(routes): ensure SEO and structured data generation only for published pages
  apps/web/app/components/StructuredData.tsx
  apps/web/app/lib/types/base.ts
  apps/web/app/lib/types/pages.ts
  apps/web/app/routes/pages.$slug.simple.tsx
  apps/web/app/routes/pages.$slug.tsx
  apps/web/app/routes/pages.$slug.ultra-simple.tsx
  apps/web/tests/unit/lib/apiSecurity.test.ts
  apps/web/tests/unit/lib/security.test.ts
Due: eslint, prettier

fix(routes): update rich text content handling to display CMS data
  README.md
  apps/web/app/components/PerformanceMonitor.tsx
  apps/web/app/lib/routes/pages.$slug.tsx
  apps/web/app/routes/pages.$slug.simple.tsx
  apps/web/app/routes/pages.$slug.tsx
  apps/web/app/routes/pages.$slug.ultra-simple.tsx
Due: eslint, prettier

fix(routes): update rich text content placeholder for rendering clarity
  apps/web/app/lib/routes/pages.$slug.tsx
Due: eslint, prettier
